@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Passion+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

li:hover .dropdown-content {
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
}

header {
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.373);
}

header > h1 {
  font-family: 'MedievalSharp', cursive;
  color: red;
  text-align: center;
  text-shadow: 8px 6px 6px black;
  font-size: 4.5em;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 0px 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition-duration: .5s;
}

header a:hover {
  background-color: rgba(211, 211, 211, 0.386);
  text-decoration: underline;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px;
  box-sizing: border-box;
}

main {
  margin: auto;
  max-width: 1200px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0);
}

main > h2 {
  color: black;
}

main > p {
  font-size: 1.2em;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 25px;
}

body {
  background: black url(../imagens/bando-falcao.jpg) center center no-repeat fixed;
  background-size: cover;
}

h2 > p {
  font-family: 'MedievalSharp', cursive;
  color: red;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

article {
  background-color: rgba(0, 0, 0, 0.795);
  margin: 0px;
  padding: 0px;
}

div.mapa {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
}

div.guerra {
  background-color: blue;
  margin: 0px;
  padding: 0px;
}

div.guerra > img {
  height: 600px;
}

div.mapa > p {
  font-family: 'MedievalSharp', cursive;
  font-size: 2em;
  font-weight: 5700;
  color: red;
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  background-color: black;

}

img {
  padding: 10px 20px;
  width: 90%;
  height: auto;
}

@media screen and (max-width: 600px) {
  div#imagem {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  div.mapa > img{
    margin-left: 4px;
  }
}

@media screen and (min-width: 600px) {
  div.mapa > img{
    margin-left: 38px;
  }
}

@media screen and (max-width: 600px) {
  div.guerra > img{
    width: 400px;
    height: 300px;
    margin: 0px;
    translate: calc(-4%);
  }
}

abbr {
  color: transparent;
}

abbr > a {
  color: transparent;
}

/* 

abbr[title] {
  position: relative;
  border-bottom: 1px dotted;
  cursor: help;
}

abbr[title]::after {
  content: attr(title);
  background-color: black;
  color: red;
  position: absolute;
  padding: 5px;   
  border-radius: 5px;               --> popup personalizado, fora de uso devido ao trabalho que daria para configurar tudo,
  top: 100%;                            estava dando muitos erros. guardando aqui a titulo de curiosidade.
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  display: none;
}

abbr[title]:hover::after {
  display: block;
}

*/

div.imagem {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 20px 71px;
}

div#i1 {
  background-image: url(../imagens/guts.jpg);
  background-size: cover;
  background-position: center center;
  width: 150px;
}


div#i2 {
  background-image: url(../imagens/griffith.jpg);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i3 {
  background-image: url(../imagens/casca.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i4 {
  background-image: url(../imagens/corkus.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i5 {
  background-image: url(../imagens/Rickert.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i6 {
  background-image: url(../imagens/pippin.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i7 {
  background-image: url(../imagens/judeau.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

div#i8 {
  background-image: url(../imagens/gaston.webp);
  background-size: cover;
  background-position: center center;
  width: 150px;
}

  div#i9 {
    background-image: url(../imagens/zodd.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
  }
  
  
  div#i10 {
    background-image: url(../imagens/wyald.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
  }
  
  div#i11 {
    background-image: url(../imagens/rosine.avif);
    background-size: cover;
    background-position: center center;
    width: 150px;
  }
  
  div#i12 {
    background-image: url(../imagens/raksas.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
  }
  
  div#i13 {
    background-image: url(../imagens/grunbeld.webp);
    background-size: cover;
    background-position: center top;
    width: 150px;
  }
  
  div#i14 {
    background-image: url(../imagens/ganishka.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
  }
  
  div#i15 {
    background-image: url(../imagens/locus.jpg);
    background-size: cover;
    background-position: center top;
    width: 150px;
  }
  
  div#i16 {
    background-image: url(../imagens/irvine.jpg);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i17 {
    background-image: url(../imagens/puck.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i18 {
    background-image: url(../imagens/ishidoro.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i19 {
    background-image: url(../imagens/skull-knight.jpg);
    background-size: cover;
    background-position: center top;
    width: 150px;
}

  div#i20 {
    background-image: url(../imagens/schierke.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i21 {
    background-image: url(../imagens/middd.webp);
    background-size: cover;
    background-position: center top;
    width: 150px;
}

  div#i22 {
    background-image: url(../imagens/tudor.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i23 {
    background-image: url(../imagens/kushan.webp);
    background-size: cover;
    background-position: center right;
    width: 150px;
}

  div#i24 {
    background-image: url(../imagens/koka.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i25 {
    background-image: url(../imagens/bando-falcao-a.webp);
    background-size: cover;
    background-position: center top;
    width: 150px;
}

  div#i26 {
    background-image: url(../imagens/novo-bando-falcao.webp);
    background-size: cover;
    background-position: center center;
    width: 150px;
}

  div#i27 {
    background-image: url(../imagens/cav-cachorros.webp);
    background-size: cover;
    background-position: center right;
    width: 150px;
}

  div#i28 {
    background-image: url(../imagens/cav-rino.webp);
    background-size: cover;
    background-position: center right;
    width: 150px;
}