@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Passion+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

li:hover .dropdown-content {
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
}

header {
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.373);
}

header > h1 {
  font-family: 'MedievalSharp', cursive;
  color: red;
  text-align: center;
  font-size: 4.5em;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 0px 10px;
  font-size: 1.2em;
  font-weight: bold;
  transition-duration: .5s;
}

header a:hover {
  background-color: rgba(211, 211, 211, 0.386);
  text-decoration: underline;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px;
  box-sizing: border-box;
}

main {
  margin: auto;
  max-width: 1200px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.326);
}

main > h2 {
  color: black;
  text-align: center;
  padding: 10px;
}

main > p {
  font-size: 1.2em;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 25px;
}

body {
  background: black url(../imagens/eclipse.jpg) center center no-repeat fixed;
  background-size: cover;
}

div#imagem {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.795);
}


div#citacao {
  background-color: rgba(0, 0, 0, 0.795);
  padding: 10px;
}

div#citacao > h2 {
  text-align: center;
  padding: 10px;
  color: red;
}

div#citacao > p {
  font-size: 1.2em;
  color: red;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 25px;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
}

img {
  padding: 10px 20px;
  width: 90%;
  height: auto;
}

img#god-hand {
  max-width: 800px;
  height: 450px;
}

img#ideia-mal {
  max-width: 500px;
  height: 600px;
}

@media screen and (max-width: 600px) {
  div#imagem {
    max-width: 100%;
  }
}


/* -------------------- style da tabela -------------------- */


table {
  border-collapse: collapse;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background-color: rgb(176, 175, 175);
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

td {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-weight: bold
}

td:hover {
  background-color: rgb(176, 175, 175);
}

.table-container {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.558);
}